.modal-header{
  background-color: black !important;
  color: white !important;
}

.create-email {
    position:fixed;
    bottom:0px;
    right:200px;
    margin:0px;
}

.modal-header>button{
  color: white;
  opacity: 1 ;
}

.modal-header>button:hover{
  color: white;
  background-color: #747171;
  opacity: 1;
  padding: 3px;
}

.rdw-image-modal-size{
  display: none;
}

#subject,.email-editor-input{
  border: 0px !important;
  box-sizing: border-box;
  color: #222;
  background-color: white;
  font-size: .875rem;
  margin: 0;
  outline: none;
  padding: 4px 1px 4px 2px;
  resize: none;
}

.grey-color-text{
  color: #747474;
}

#subject{
  width: 100%;
}

.email-editor-input{
  line-height: 20px;
  width: 85%;
}

#toAddrTd{
  width: 100%;
  padding-left: 10px; 
}

#toAddrTd>span{
  padding: 2px;
}

.modal-footer{
  text-align: left !important;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}