.email-editor-wrapper{
	width: 100% !important;
}

.email-editor{
	min-height: 350px;
	max-height: 500px;
	line-height: normal;
}

.mail-editor-link-popup>.rdw-link-modal-target-option{
	display: none;
}

.list-attach-file{
	padding: 0px;
	padding-left: 10px;
	border: 0px;
	background-color: #f1f1f1;
	width:80%;
	margin: 10px;
}
.list-attach-file>.list-attach-file-block{
	background: url(close_button.png) no-repeat;
	background-size:10px;
	background-position: 98% 50%;
}

.list-attach-file a,.list-attach-file a:hover{
	text-decoration: none;
	color: #15c;
	font-weight:bold;
	line-height: 40px;
	padding-right: 50px;
}

.grey-text-color{
	color: #777;
}